/* Define regular font */
@font-face {
    font-family: 'Geomanist';
    src: local('Geomanist-Regular'), url('./Geomanist-Regular.ttf') format('truetype'),
        url('./Geomanist-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Define bold font */
@font-face {
    font-family: 'Geomanist';
    src: local('Geomanist-Bold'), url('./Geomanist-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Define light font */
@font-face {
    font-family: 'Geomanist';
    src: local('Geomanist-Light'), url('./Geomanist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Define medium font */
@font-face {
    font-family: 'Geomanist';
    src: local('Geomanist-Medium'), url('./Geomanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Define thin font */
@font-face {
    font-family: 'Geomanist';
    src: local('Geomanist-Thin'), url('./Geomanist-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Define ultra font */
@font-face {
    font-family: 'Geomanist';
    src: local('Geomanist-Ultra'), url('./Geomanist-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: local('Geomanist-Regular-Italic'), url('./Geomanist-Regular-Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

/* LibreBaskerville */
@font-face {
    font-family: 'LibreBaskerville';
    src: local('LibreBaskerville-Regular'), url('./LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: local('LibreBaskerville-Bold'), url('./LibreBaskerville-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}